<div class="pie encabezadoYPie">
    <div class="container">
      <div class="row">
        <div class="col-7"></div>
  
        <div class="col-2">
          <i title="contacto" class="fa-solid fa-phone fa-shake icono"></i>
          <span class="s">541156331852</span>
          
        </div>
        <div class="col-1">
          <i title="direccion" class="fa-solid fa-house icono"></i>
        </div>
        <div class="col-2">
          <span class="s"> Argentina, Buenos Aires General Rodriguez </span>
        </div>
  
      </div>
    </div>
</div>
