<div class="pie encabezadoYPie">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6"></div>
  
        <div class="col-sm-1 col-md-2 col-lg-2">
          <i title="contacto" class="fa-solid fa-phone fa-shake icono"></i>
          <span class="s">541156331852</span>
          
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <i title="direccion" class="fa-solid fa-house icono"></i>
          <div class="direccion">
            <span>Argentina, Buenos Aires,</span>
            <br>
            <span>General Rodriguez</span>
          </div>
        </div>  
      </div>
    </div>
</div>
