<div class="encabezado encabezadoYPie">
    <div class="container">
  
      <div class="row">
  
        <div class="col-sm-1 col-md-1 col-lg-1">
          <img src="./assets/logogatito.jpg" class="rounded float-start logoprincipal" alt="mi_logo">
          
        </div>
  
        <div class="col-sm-2 col-md-2 col-lg-2">
          <span class="argentinaPrograma">Argentina Programa </span>
          <span class="argentinaPrograma">#YoProgramo</span>
        </div>
  
        <div class="col-sm-6 col-md-6 col-lg-6">  </div>
        
        <div class="col-sm-2 col-md-2 col-lg-2"> 
        
          <a href="https://www.facebook.com/florry.styles.5?mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer" class="quitarhover">
            <i title="facebook" class="fa-brands fa-square-facebook icono"></i>
          </a>
  
          
          <a href="https://instagram.com/florry_styles?igshid=ZGUzMzM3NWJiOQ==" target="_blank" rel="noopener noreferrer" class="quitarhover">
            <i title="instagram" class="fa-brands fa-square-instagram icono"></i>
          </a>
          
          
          <a href="http://wa.me/541156331852" target="_blank" rel="noopener noreferrer" class="quitarhover"> 
            <i title="whatsApp" class="fa-brands fa-square-whatsapp icono"></i>
          </a>
          

        </div> 
        <div class="col-sm-1 col-md-1 col-lg-1"> 
          <button class="login" *ngIf="!Login()">
            <a class="quitarhover" routerLink="/login">
              Login
            </a> 
          </button>
          <button class="login" *ngIf="Login()">
            <a class="quitarhover" (click)="Logout()">
              Logout
            </a> 
          </button>
        </div>
      </div>
  
    </div>
  </div>
