<div class="encabezado encabezadoYPie">
    <div class="container">
  
      <div class="row">
  
        <div class="col-1">
          <img src="./assets/logogatito.jpg" class="rounded float-start logoprincial" width="50%" height="90%" alt="mi_logo">
          
        </div>
  
        <div class="col-2">
          <span class="argentinaPrograma">Argentina Programa </span>
          <span class="argentinaPrograma">#YoProgramo</span>
        </div>
  
        <div class="col-6">  </div>
        
        <div class="col-2"> 
        
          <a href="https://www.facebook.com/florry.styles.5?mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer" class="quitarhover">
            <i title="facebook" class="fa-brands fa-square-facebook icono"></i>
          </a>
  
          
          <a href="https://instagram.com/florry_styles?igshid=ZGUzMzM3NWJiOQ==" target="_blank" rel="noopener noreferrer" class="quitarhover">
            <i title="instagram" class="fa-brands fa-square-instagram icono"></i>
          </a>
          
          
          <a href="http://wa.me/541156331852" target="_blank" rel="noopener noreferrer" class="quitarhover"> 
            <i title="whatsApp" class="fa-brands fa-square-whatsapp icono"></i>
          </a>
          

        </div> 
        <div class="col-1"> 
          <button class="login">
            <a class="quitarhover" routerLink="/login">
              {{login}}
            </a> 
          </button>
        </div>
      </div>
  
    </div>
  </div>
