<div class="presentacion formato">
    <div class="banner">
      <button class="edit" title="Editar" *ngIf="login">
        <i class="fa-regular fa-pen-to-square edit"></i>
      </button>
    </div>
    <img src="./assets/fotoPerfil.jpeg" alt="foto_de_perfil" class="fotoPerfil">
       <button class="edit" title="Editar" *ngIf="login">
         <i class="fa-regular fa-pen-to-square edit"></i>
    </button>
    <div class="pading">
      <h1 class="nombre titulo">
        Florencia Esposito  
      </h1>
      <button class="edit" title="Editar" *ngIf="login">
        <i class="fa-regular fa-pen-to-square edit"></i>
      </button>
    <br>
      <div class="datosPresentacion">  
        <p class="pading margin"> 
          Programador Full Stack Developer Jr. 
          <button class="edit" title="Edit" *ngIf="login">
            <i class="fa-regular fa-pen-to-square edit"></i>
          </button>
        </p>
        <p class="pading">
          Buenos Aires, Argentina.
        </p>
      </div>  
    </div>
</div>
