<div class="hard&SoftSkills formato pading">
    <h1>Hard & Soft skills</h1>
    <div>
      <h6 class="subtitulo subtitulo2"> Soft Skills </h6>
      <button class="edit" title="Agregar" *ngIf="login">
        <i class="fa-regular fa-pen-to-square edit"></i>
      </button>
    </div>
    <ul class="lista itemsHorizontal skills">

      <li class="pading">
        <img src="./assets/liderazgo.jpg" class="logoSoftSkills">
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>

      <li class="pading">
        <img src="./assets/gestionDelTiempo.jpg" class="logoSoftSkills"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>

      <li class="pading">
        <img src="./assets/pensamientoCritico.jpg" class="logoSoftSkills"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button> 
      </li>

      <li class="pading">
        <img src="./assets/creatividad.jpg" class="logoSoftSkills">
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>
      
      <li class="pading">
        <img src="./assets/capacidadResolutiva.jpg" class="logoSoftSkills"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li> 

    </ul>
    <div>
      <h6 class="subtitulo subtitulo2"> Hard Skills </h6>
      <button class="edit" title="Agregar" *ngIf="login">
        <i class="fa-regular fa-pen-to-square edit"></i>
      </button>
    </div>
    <ul class="lista itemsHorizontal skills">

      <li class="pading"><img src="./assets/habilidadesAdministrativas.png" class="logo1"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>

      <li class="pading">
        <img src="./assets/habilidadesDeProgramacion.png" class="logo2"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>

      <li class="pading">
        <img src="./assets/disenioDePaginasWeb.png" class="logo2"> 
        <button class="edit editSkills" title="Borrar" *ngIf="login">
          <i class="fa-regular fa-trash-can edit"></i>
        </button>
      </li>

    </ul>
</div>
